.Map {
    height: 200px;
    width: 200px;
    border: 2px solid blanchedalmond;
    /* background-color: blanchedalmond; */
}

.Placeholder {
    height: 200px;
    width: 200px;
    border: 2px solid transparent;
    background-color: transparent;
}

.Pointer {
    --pin_height: 50px;
    position: absolute;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    width: var(--pin_height);
    height: var(--pin_height);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url('https://ianrackson.com/assets/avatar.svg');
    background-size: var(--pin_height);
    background-repeat: no-repeat;
    background-attachment: center;
    background-position: center;
    box-shadow: 0 0 var(--pin_height) rgba(0, 0, 0, 1);
}
